%h1= t('.title')

- if @orders.present?
  %table.table
    %thead
      %th= Order.human_attribute_name(:id)
      %th= Order.human_attribute_name(:created_at)
    - @orders.each do |order|
      %tbody
      %tr
        %td= order.id
        %td= l order.created_at
- else
  = t('general.none')
