%h1= t('.title')
= simple_form_for @order do |f|
  = f.input :delivery_on
  = f.input :delivery_time_zone, collection: delivery_time_zone_option, include_blank: true
  = f.input :delivery_address
  = f.input :addressee_name
  = f.button :submit, t('.purchase')
