%h1= t('.title')

%table.table
  %thead
    %th= Order.human_attribute_name(:id)
    %th= Order.human_attribute_name(:created_at)
    %th= Order.human_attribute_name(:addressee_name)
    %th= Order.human_attribute_name(:delivery_on)
    %th= Order.human_attribute_name(:delivery_time_zone)
  %tbody
    %tr
      %td= @order.id
      %td= l @order.created_at
      %td= @order.addressee_name
      %td= @order.delivery_on
      %td= @order.delivery_time_zone
.box-price
  %h2= Order.human_attribute_name(:box_price)
  = number_to_currency(@order.box_price)

%h2= t('.orders')
%table.table
  %thead
    %th= Product.human_attribute_name(:name)
    %th= OrderItem.human_attribute_name(:quantity)
    %th= OrderItem.human_attribute_name(:price_with_tax)
  %tbody
    - @order.order_items.each do |order_item|
      %tr
        %td= order_item.product.name
        %td= order_item.quantity
        %td= number_to_currency order_item.price_with_tax
