%h1= t('.title')

- if @cart_items.present?
  %table.table.table-bcarted.my-3
    %tr.text-nowrap
      %th= Product.human_attribute_name(:name)
      %th= CartItem.human_attribute_name(:quantity)
      %th= t('.price_with_tax')
    - @cart_items.each do |cart_item|
      %tr
        %td= link_to cart_item.product.name, product_path(cart_item.product)
        %td.text-nowrap= cart_item.quantity
        %td.text-nowrap= number_to_currency(cart_item.product.price_with_tax * cart_item.quantity)
- else
  = t('general.none')
