%h1= t('.title')

= link_to t('.to_products_index'), root_path, class: 'btn btn-outline-dark my-5'

.mt-3.fw-bold.fs-4= Product.human_attribute_name(:name)
.fs-4.my-3= @product.name
.fw-bold.fs-4= Product.human_attribute_name(:price_without_tax)
.fs-4.my-3= t('products.index.price_with_tax', price: number_to_currency(@product.price_with_tax))
.fw-bold.fs-4= Product.human_attribute_name(:description)
.fs-4.my-3= @product.description

- if @cart_item
  = simple_form_for [:cart, @cart_item] do |f|
    = f.input :product_id, as: :hidden, input_html: { value: @product.id }
    = f.input :quantity, input_html: { class: 'w-auto', min: 1 }
    = f.button :submit, @cart_item.persisted? ? t('.update_cart') : t('.add_cart')
- else
  = link_to t('.add_cart'), user_session_path, class: 'btn btn-primary'
