%h1= t('.title')

= link_to t('.to_products_index'), root_path, class: 'btn btn-outline-dark my-5'

.mt-3.fw-bold.fs-4= Product.human_attribute_name(:name)
.fs-4.my-3= @product.name
.fw-bold.fs-4= Product.human_attribute_name(:price_without_tax)
.fs-4.my-3= t('products.index.price_with_tax', price: number_to_currency(@product.price_with_tax))
.fw-bold.fs-4= Product.human_attribute_name(:description)
.fs-4.my-3= @product.description

= simple_form_for @cart_item do |f|
  = f.input :product_id, as: :hidden, input_html: { value: @cart_item.product_id }
  = f.input :quantity, input_html: { class: 'w-auto' }
  = f.button :submit, t('.add_cart')
