!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }/
    %title= content_for(:title) || 'Hattsuan Market'
    %meta{ content: 'width=device-width,initial-scale=1', name: 'viewport' }/
    %meta{ content: 'yes', name: 'apple-mobile-web-app-capable' }/
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    %link{ href: '/manifest.json', rel: 'manifest' }/
    %link{ href: '/icon.png', rel: 'icon', type: 'image/png' }/
    %link{ href: '/icon.svg', rel: 'icon', type: 'image/svg+xml' }/
    %link{ href: '/icon.png', rel: 'apple-touch-icon' }/
    = stylesheet_link_tag 'application', 'data-turbo-track': 'reload'
    = javascript_include_tag 'application', 'data-turbo-track': 'reload', type: 'module'
  %body
    %nav.navbar.bg-body-tertiary
      .container-fluid
        = link_to 'hattsuan_market', root_path, class: 'navbar-brand'
        - if user_signed_in?
          = link_to t('devise.sessions.log_out'), destroy_user_session_path, data: { turbo_method: :delete }
        - else
          = link_to t('devise.sessions.new.sign_in'), new_user_session_path
    .container
      = render 'layouts/flash_message'
      = yield
